#game {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  margin: 20px auto;
  padding: 10px;
  background: #eee;
  font-family: Arial;
  overflow: auto;
}
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}
